
h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25vw;
    text-align: center;
  }
  
  
  h2{
    display: flex;
    justify-content: center;
  }
  
  p{
    font-size: 20px;
    padding-top: 10px;
    padding-right: 15px;
  }
  /* quick reset and base styles */
  
  html {
    font-family: helvetica, arial, sans-serif;
  }
  
  /* relevant styles */
  img{
    border-radius: 50%;
  
  }
  
  .navpic{
    border-radius: 0%;
  }
  
  .img__wrap {
    position: relative;
    
  }
  
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #54BBF5;
    color: #fff;
    visibility: hidden;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    text-decoration: none;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
    text-decoration: none;
    color: white;
    transition: top ease 0.5s;
  
  }
  
  a:link{
    text-decoration: none!important;
    color: white;
  }
  
   
  
  .row-space{
    margin-bottom: 50px;
  
    
  }

  .hi{
      padding-bottom: 25px;
  }
  
  .speaker-box{
    display: flex;
    justify-content: center;
  }
  
  .picture-pad-l{
    padding-bottom: 25px;
    
  }
  
  
  i {
    font-size: 4em;
    color: aliceblue;
  }
  
  .home-screen-text{
    color: black;
    position: 5%;
    z-index: 2;
    margin: 0 auto;
    max-width: 1250px;
    margin-top: 200px;
    text-align: left;
  }
  
  .dropdown-item-coloring{
    color: black !important;
  }
  