

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 4vw;
  padding-bottom: 15px;
}

p {
  font-size: 18px;
}

i {
  font-size: 4em;
  color: aliceblue;
}

/* .spacing{
  padding: 50px;
} */


.speaker-title{
  width: 100%;
  height: 300px; 
  text-align: center;
}

.keynote-img{
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 50%;
    align-content: center;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.text-padding{
  text-align: left;
}

  .text-div{
    padding-top: 6.2rem;
  }